.dropdown {
  border: 1px solid var(--grey_secondary);
  width: 80%;
  margin: auto;
}
.dropdown_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid var(--grey_secondary);
}

aside h1 {
  color: var(--blue);
}

aside.chevron {
  cursor: pointer;
}

.dropdown_children {
  position: relative;
  animation: dropdown 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transition: all 1s ease-in-out;
  height: 0;
  overflow: hidden;
}

.dropdown_children::-webkit-scrollbar {
  width: 2px;
}

.dropdown_children::-webkit-scrollbar-thumb {
  background-color: var(--grey_secondary);
  cursor: pointer;
}

@keyframes dropdown {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: 100px;
    overflow-y: scroll;
  }
}

/* style for return */

#closeList {
  position: relative;
  animation: closeList 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transition: all 1s ease-in-out;
  height: 150px;
}
@keyframes closeList {
  0% {
    height: 100px;
  }

  100% {
    height: 0;
    overflow: hidden;
  }
}

.dropdown_children ul {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdown_children ul li {
  /* border-bottom: 1px solid var(--grey_secondary); */
  padding: 0.5rem 0;
  font-weight: bold;
  color: var(--grey_primary);
}

@media (max-width: 900px) {
  .dropdown {
    width: 90%;
  }
}
