.newsfeed {
  width: 100%;
}
.newsfeed .news_card header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 1rem;
}

.newsfeed .news_card {
  position: relative;
  opacity: 0;
  animation: newsfeed 1s ease-in-out;
  animation-fill-mode: forwards;
  width: 100%;
  /* background-color: var(--white); */
  border: 1px solid var(--grey_tertiary);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: var(--white);
}
@keyframes newsfeed {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.feed_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: var(--grey_secondary);
}
.feed_visual {
  position: relative;
  display: grid;
  margin: auto;
}
.feed_visual img {
  border: 1px solid var(--grey_tertiary);
  width: 100%;
  object-fit: fill;
  height: 300px;
  padding: 1rem;
}

.feed_visual span.feed_chevrons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.chevronLeftRight {
  cursor: pointer;
  background-color: var(--grey_secondary);
  border-radius: 1rem;
  z-index: 3;

}

.feed_time {
  font-size: 12px;
}

main.feed_content p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  line-height: 1.6;
}

.feed_aside {
  display: flex;
  color: white;
  align-items: center;
  align-content: center;
  padding-top: 1rem;
  gap: 2rem;
}

.feed_aside div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.feed_aside span {
  cursor: pointer;
}
.feed_aside div p {
  font-size: 12px;
  color: var(--white);
}
