.boxer_showcase
{   
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2rem;
    display: flex;
    width: 80%;
    box-shadow: var(--shadow);
   
}

.boxer_showcase .vid_showcase 
{
    background-color: var(--grey_tertiary);
    height: 300px;
    width: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    filter: brightness(.75);
    background-image: url('../../Resources/box.jpg');
    background-size: cover;
    background-position: center;
}

.boxer_showcase .vid_showcase img 
{
    cursor: pointer; 
    width: 50px;
}

.boxer_showcase .content_showcase 
{
  padding: 2rem;
  width: 50%;
}

.boxer_showcase .content_showcase .sc_intro 
{
    font-size: 2rem;
    color: var(--grey_tertiary);
    border-left: 5px solid var(--bright_red);
    padding-left: 1rem;
}
.boxer_showcase .content_showcase p 
{
    padding: 1rem 0;
    line-height: 1.6;
}
.boxer_showcase .content_showcase ul 
{
    display: flex;
    gap: 1rem;
}

.boxer_showcase .content_showcase a 
{
    font-weight: bold;
    color: var(--grey_tertiary)
}