.intro_cards {
  margin: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  padding: 3rem 0;
  background-color: var(--grey_primary);

}

/* Media */
@media (max-width: 600px) {
  .intro_cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    padding: 1rem;
  }



}


