.modal_wrapper {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 6;
}

.modal {
 
  justify-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  z-index: 3;
  color: white;
  
}

.modal header 
{  
    position: absolute;
    display: flex;
    padding-right: 3rem;
    justify-content: space-between;
    width: 80%;
}
.modal header div.cancel 
{
    cursor: pointer;
}

.modal .modal_content 
{
    width: 600px;
    height: 400px;
    margin-top: 3rem;
    box-shadow: var(--shadow);
    overflow-y: scroll;
    border: 1px solid var(--grey_primary);
}

