
.card_primary 
{  
    position: relative;
    background: var(--grey_secondary);
    /* box-shadow: var(--shadow); */
    background-image: url('../../Resources/lift.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    z-index: -1;
    margin-bottom: 5rem;
}

.cp_inner_card
{
    position: absolute;
    bottom: -25%;
    left: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.cp_inner_card img
{  
    width: 150px;
    background-color: var(--grey_primary);
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    z-index: 3;


}

.cp_text 
{
    padding-top: 3rem;
}

.cp_opacity 
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
   
}