.chat_bubble_right {
  background-color: var(--blue);
  color: var(--grey_primary);
  float: right;
}

.chat_bubble_left,
.chat_bubble_right {
  width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 1px solid #ccc;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.chat_bubble_left {
  background-color: var(--grey_primary);
  color: var(--grey_tertiary);
  float: left;
}

.chat_additions 
{
  display:flex;
  justify-content: space-between;
}
.chat_additions span{
  font-size: 12px;
  font-weight: bold;
}
