.Postform {
  padding: 1rem;
  border: 1px solid var(--grey_tertiary);
}
.graphics {
  display: flex;
  column-gap: 0.5rem;
  overflow-x: scroll;
  width: 400px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.graphics::-webkit-scrollbar {
  display: grid;
  height: 2px;
}

.graphics::-webkit-scrollbar-track {
  background: var(--grey_tertiary);
}

.graphics::-webkit-scrollbar-thumb {
  background: var(--grey_secondary);
  border-radius: 1rem;
}
.graphics::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}


.alert  
{
  color: white;
  padding: 0.5rem;
  margin: auto;
  margin-top: 1rem;
  font-size: 15px;
}

.postform_failure {
  background-color: red;
  
}

.graphics img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border: 1px solid var(--grey_secondary);
  cursor: pointer;
  opacity: 0.9;
}
.graphic_description {
  background: none;
  width: 400px;
  height: 200px;
  resize: none;
  margin-top: 1rem;
  border: 1px solid var(--grey_tertiary);
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--grey_primary);
}
.file_select {
  position: relative;
  margin-right: 1rem;
  display: grid;
  align-items: center;
}

.Postform input {
  position: absolute;
  opacity: 0;
}
.Postform input:hover {
  cursor: pointer;
}
.Postform button {
  display: grid;
  width: 400px;
  padding: 0.5rem;
  text-align: center;
  background: none;
  border: 1px solid var(--grey_tertiary);
  color: var(--grey_primary);
}

@media (max-width: 1200px) {
  .graphics {
    width: 300px;
  }
  .Postform button {
    width: 100%;
  }
  .graphic_description {
    width: 100%;
  }
}
