.Postform {
  padding: 1rem;
  border: 1px solid var(--grey_tertiary);
}
.graphics {
  display: flex;
  column-gap: 0.5rem;
  overflow-x: scroll;
  width: 400px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.graphics::-webkit-scrollbar {
  display: grid;
  height: 2px;
}

.graphics::-webkit-scrollbar-track {
  background: var(--grey_tertiary);
}

.graphics::-webkit-scrollbar-thumb {
  background: var(--grey_secondary);
  border-radius: 1rem;
}
.graphics::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}


.graphics img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border: 1px solid var(--grey_secondary);
  cursor: pointer;
  opacity: 0.9;
}
.graphic_description {
  background: var(--grey_secondary);
  width: 100%;
  height: 200px;
  resize: none;

  border: 1px solid var(--grey_tertiary);
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: .5rem;
}
.file_select {
  position: relative;
  margin-right: 1rem;
  display: grid;
  align-items: center;
}


.Postform input:hover {
  cursor: pointer;
}
.Postform button {
  display: grid;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background: none;
  border: 1px solid var(--grey_tertiary);
  color: var(--grey_primary);
}

span.imgUrl 
{
  position: relative;
}

span.imgUrl input{
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
  background: none;
  border: none;
  border: 1px solid var(--grey_tertiary);
  color: var(--grey_primary);
}

span.imgUrl aside 
{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: grid;
  margin: auto;
  font-size: 1.2rem;

}

.addImage 
{
  margin: 1rem 0;
}

.pendingImg 
{
  max-height: 200px;
  overflow-y: scroll;
}
.pendingImg::-webkit-scrollbar 
{
  width: .3rem;

}
.pendingImg::-webkit-scrollbar-track 
{
  background-color: none;
}
.pendingImg::-webkit-scrollbar-thumb 
{
  background-color: var(--grey_primary);
  border-radius: 1rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .graphics {
    width: 300px;
  }
  .Postform button {
    width: 100%;
  }
  .graphic_description {
    width: 100%;
  }
}
